/* General Rules */

/* get rid of default padding/margins */


/* body styles */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: hsl(216, 12%, 8%);
    font-family: "Overpass";
    font-size: 15px;
}

/* specific element selectors */
h3 {
    margin: 16px 0 0 0;
    padding: 0;
    color: white;
}

/* main containers */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.star-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: hsl(211, 19%, 22%);
}

/* rating-container details */


.rating-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 16px;
    padding: 24px;
    background-color: hsl(213, 19%, 18%);
}

.description {
    color: hsl(217, 12%, 63%);
}

.ratings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 8px 0 16px 0;
}

.ratings button:hover {
    background-color: hsl(211, 20%, 26%);
}

.rating {
    display: flex;
    color: hsl(217, 12%, 63%);
    background-color: hsl(211, 19%, 22%);
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
}

.submit-button {
    border: none;
    width: 100%;
    margin: 10px 0;
    padding: 15px 10px;
    letter-spacing: 2px;
    color: white;
    background-color: hsl(25, 97%, 53%);
    border-radius: 22px;
}

.submit-button:hover {
    background-color: hsl(25, 99%, 60%);
}

/* Thank-You container details */

.thank-you-container {
    display: none;
}

@media screen and (min-width: 375px) {
    .rating-container {
        min-width: 325px;
    }
}